node_modules/
bower_components/
.DS_Store
.sass-cache
*.log

build/
dist/
coverage/

# Bower components
client/lib

# CSS built from SASS
client/styles/*.css
client/styles/*.css.map

# Games data
server/data
server/romLibrary2.js