.games-list {
  margin: 3em auto;
  @include span-columns(10);
  @include shift(1);
}

body{
  height: 100vh;
}

.game-cover {
  float: left;
  width: 17vw;
  height: 17vw;
  margin: 20px;
  cursor: pointer;
  transition: 3s;
  @include dark-card;
  border: none;
}

.game-cover:hover {
  box-shadow: 0 0 30px $light-blue-A100;
  transition: 0.5s;
}

.games-list h2 {
  font-weight: 200;
  font-size: 2em;
  padding-bottom: 0.5em;
}
