.login-form {
  // @include span-columns(4);
  // @include shift(4);

  @include dark-card;
  width: 40vw;
  border: 1px solid $blue-grey-500;
  margin: 4em auto;
  padding: 1em 2em 3em;
  
  button {
    margin: 3em auto;
    position: relative;
    display: block;
  }

  a {
    float: right;
    font-size: 0.9em;
  }
}

