@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  margin: 20px; 
}
header{
	background-color: #3F51B5;
	text-align: center;
}
#game-container{
	float: left;
	width: 20vw;
	height: 16.5vw;
	text-align: center;
	margin: 10px;
}