@import "../lib/lumx/dist/scss/main/lumx";

@import url(http://fonts.googleapis.com/css?family=Roboto);

.game-view {
  display: block; 
  width: 100%;
  height: 100%;
}

.emulator {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.gameboy-color-emulator {
  margin: 0 auto;
  height: 100%;
  width: 100%;	
}