@import "../lib/lumx/dist/scss/main/lumx";

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  margin: 20px;
  background-color: $blue-grey-800;
  color: $blue-grey-50;
}
