@mixin all-browser-transition($trans) {
   -webkit-transition: $trans;
   -moz-transition:    $trans;
   -ms-transition:     $trans;
   -o-transition:      $trans;
}

@mixin dark-card {
  border: 1px solid $blue-grey-500;
  background-color: $black-3;
  box-shadow: 0 1px 2px $black-1;  
}

html {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial;
  font-size: 16px;
  font-weight: 300;
  
  background-color: $blue-grey-900;
  color: $blue-grey-50;

  height: 100%;
  display: block;
}

a {
  color: $light-blue-200;
  transition: 0.4s;
}

a:hover {
  color: $light-blue-A200;;
  transition: 0.4s;
}

input {
  color: $blue-grey-50;
}

