<div class="userForm">
  <header>
    <h1 class="fs-display-4">uGame</h1>
  </header>

  <h1>Register</h1>
  <form nonvalidate class="grid">
    <div class="grid__col3">
        <lx-text-field label="Username">
            <input type="text" ng-model="user.username">
        </lx-text-field>
    </div>

    <div class="grid__col3">
        <lx-text-field label="Password">
            <input type="text" ng-model="user.password">
        </lx-text-field>
    </div>
    <button ng-click="register()" class="btn btn--m btn--raised bgc-indigo-200 tc-indigo-600" lx-ripple="purple-400">Register</button>
  </form>
  <br>
  <a ui-sref="login">Already a user? Log in here</a>

</div>
