<div class="game-view" ng-controller="GameController" u-game-keypress-events>
  
  <div class="overlays" ng-mousemove="showMenuWhileMoving()">
    
    <div class="game-view-overlay top-overlay fx-fade-up fx-easing-expo fx-speed-450" ng-show="menuIsShown">     
      <ul>
        <li>
          <a lx-ripple lx-tooltip="Go Back To Browsing Games" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="goHome()">
            Back
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Save Current Game Progress" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="saveCurrentGame()">
            Save
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Continue Playing Previously Saved Game" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="loadPreviousGame()">
            Load
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Setup Your Controller" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="openControllerDialog('controllers')">
            Controller
          </a>
        </li>
      </ul>
    </div>
    

    <div class="game-view-overlay bottom-overlay fx-fade-down fx-easing-expo fx-speed-450" ng-show="menuIsShown">
      <h1>{{ gameInfo.title }}</h1>
    </div>
  </div>

  <lx-dialog class="dialog dialog--l bgc-blue-grey-900" id="controllers" onclose="closingDialog()">
    <div class="dialog__header">
      <div class="toolbar bgc-black-4 pl+">
        <span class="toolbar__label tc-white fs-title">
          Controllers
        </span>
      </div>
    </div>

    <div class="dialog__content">
      
      <lx-tabs>
        <lx-tab heading="Keyboard Controls">
          <table class="data-table data-table--has-primary data-table--has-secondary">
          <thead>
              <tr>
                  <th></th>
                  <th>Gameboy Color Action</th>
                  <th>Key to Press</th>                    
                  <th></th>
              </tr>
          </thead>

          <tbody>
              <tr class="data-table" ng-repeat="(keyCode, action) in keyboardControllerKeys">
                  <td></td>
                  <td>
                      <span class="fs-subhead">{{ action.toUpperCase() }}</span>
                  </td>
                  <td>
                      <span class="fs-subhead">{{ fromCharCodeToString(keyCode) }}</span>
                  </td>
                  <td></td>                    
              </tr>               
          </tbody>
          </table>
        </lx-tab>


        
        <lx-tab heading="Use Your Phone as a Controller!">
        <!-- <qrcode version="2" error-correction-level="M" size="200" data="{{ rtcUrl }}"></qrcode> -->
        <div class="qr-container">
          <qrcode version="4" error-correction-level="M" size="400" data="{{ rtcUrl }}"></qrcode>
        </div>
        <br />
        <span class="qr-text">{{ rtcUrl }}</span>
        </lx-tab>
      </lx-tabs>

    </div>

    <div class="dialog__actions bgc-white-4">
        <button class="btn btn--m btn--white btn--flat" lx-ripple lx-dialog-close>OK</button>
    </div>
  </lx-dialog>

  <!-- 
    This transparent div is going on top of all other elements (except menu items). 
    Used to catch mouse movements 
  -->
  <div class="hug-all" ng-mousemove="showMenuWhileMoving()"></div>

  <div class="emulator">
    <iframe ng-keydown="onKeyDown($event)" name="GBC" class="gameboy-color-emulator" src="emulators/gameboy_color/gameboy-color-emulator.html" sandbox="allow-same-origin allow-scripts" u-game-iframe-onload="getGameBoyAPI()"></iframe>
  </div>

</div>
