<div class="game-view" ng-controller="GameController" u-game-keypress-events>
  
  <div class="overlays" ng-mousemove="showMenuWhileMoving()">
    
    <div class="game-view-overlay top-overlay fx-fade-up fx-easing-expo fx-speed-450" ng-show="menuIsShown">     
      <ul>
        <li>
          <a lx-ripple lx-tooltip="Go Back To Browsing Games" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="goHome()">
            Back
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Save Current Game Progress" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="saveCurrentGame()">
            Save
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Continue Playing Previously Saved Game" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()" ng-click="loadPreviousGame()">
            Load
          </a>
        </li>
        <li>
          <a lx-ripple lx-tooltip="Setup Your Controller" tooltip-position="bottom" href="#" ng-mouseover="togglePinMenu()" ng-mouseleave="togglePinMenu()">
            Controller
          </a>
        </li>
      </ul>
    </div>

    <div class="game-view-overlay bottom-overlay fx-fade-down fx-easing-expo fx-speed-450" ng-show="menuIsShown">
      <h1>{{ gameInfo.title }}</h1>
    </div>
  </div>

  <!-- 
    This transparent div is going on top of all other elements (except menu items). 
    Used to catch mouse movements 
  -->
  <div class="hug-all" ng-mousemove="showMenuWhileMoving()"></div>

  <div class="emulator">
    <iframe ng-keydown="onKeyDown($event)" name="GBC" class="gameboy-color-emulator" src="emulators/gameboy_color/gameboy-color-emulator.html" sandbox="allow-same-origin allow-scripts" u-game-iframe-onload="getGameBoyAPI()"></iframe>
  </div>

</div>