<div class="container">
  <header>
    <a href="#" ng-click="logout()">Logout</a>
    <h1 class="logo">uGame</h1>
  </header>
  
  <div class="games-list">
    <h2>Games</h2>
    <img class="game-cover" ng-click="goToState(object.id)" ng-repeat="object in data" ng-src='/assets/{{object.image}}'/>    
    <!-- <div id="game-container" ng-repeat="object in data">
      <h1>{{object.title}}</h1>
      <p>{{object.image}}</p>
      <p>{{object.description}}</p>
      <button  ng-class={{object.id}} class="btn btn--m btn--raised bgc-indigo-200 tc-indigo-600" lx-ripple="purple-600" ng-click="goToState(object.id)">Play {{object.title}}</button>
    </div> -->
  </div>
</div>
