<div>
  <header>
    <h1 class="fs-display-4">uGame</h1>
  </header>
  
  <h3>Choose Game:</h3>
  <img id="game-container" ng-click="goToState(object.id)" ng-repeat="object in data" src='/assets/{{object.image}}'/>    
  <!-- <div id="game-container" ng-repeat="object in data">
    <h1>{{object.title}}</h1>
    <p>{{object.image}}</p>
    <p>{{object.description}}</p>
    <button  ng-class={{object.id}} class="btn btn--m btn--raised bgc-indigo-200 tc-indigo-600" lx-ripple="purple-600" ng-click="goToState(object.id)">Play {{object.title}}</button>
  </div> -->
</div>